<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>character_type</key>
		<string>seller</string>
		<key>description</key>
		<string>Has 188 starting Gil. Sells goodies.</string>
		<key>image_location</key>
		<string></string>
		<key>name</key>
		<string>Goodie</string>
		<key>number_of_heart_crystals</key>
		<integer>3</integer>
		<key>pronouns</key>
		<string>he</string>
		<key>range</key>
		<real>5.5</real>
		<key>secret_crystals</key>
		<dict>
			<key>number_pink_crystals</key>
			<integer>3</integer>
			<key>number_red_crystals</key>
			<integer>0</integer>
			<key>number_white_crystals</key>
			<integer>0</integer>
			<key>number_yellow_crystals</key>
			<integer>0</integer>
		</dict>
		<key>special_attacks</key>
		<array>
			<dict>
				<key>attack_name</key>
				<string>deathin</string>
				<key>damage</key>
				<integer>1000</integer>
				<key>damage_type</key>
				<string>bludgeoning</string>
			</dict>
		</array>
		<key>starting_gil</key>
		<integer>188</integer>
		<key>strength</key>
		<integer>20</integer>
	</dict>
	<dict>
		<key>character_type</key>
		<string>tank</string>
		<key>description</key>
		<string>Exploding an enemy at close range, starts with 110 Gil.</string>
		<key>image_location</key>
		<string></string>
		<key>name</key>
		<string>Sela</string>
		<key>number_of_heart_crystals</key>
		<integer>5</integer>
		<key>pronouns</key>
		<string>she</string>
		<key>range</key>
		<real>6.6</real>
		<key>secret_crystals</key>
		<dict>
			<key>number_pink_crystals</key>
			<integer>0</integer>
			<key>number_red_crystals</key>
			<integer>2</integer>
			<key>number_white_crystals</key>
			<integer>0</integer>
			<key>number_yellow_crystals</key>
			<integer>0</integer>
		</dict>
		<key>special_attacks</key>
		<array>
			<dict>
				<key>attack_name</key>
				<string>instant blow up</string>
				<key>damage</key>
				<integer>2000</integer>
				<key>damage_type</key>
				<string>bludgeoning</string>
			</dict>
		</array>
		<key>starting_gil</key>
		<integer>110</integer>
		<key>strength</key>
		<integer>30</integer>
	</dict>
</array>
</plist>
