<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>albums</key>
	<array>
		<dict>
			<key>album_art_url</key>
			<string>https://cdn2.suno.ai/image_large_9b18e9d8-bca4-4d43-8383-7719d672eff3.jpeg</string>
			<key>artist</key>
			<string>Allison Allain</string>
			<key>genres</key>
			<array>
				<string>Suno Generated Inspiring Quotes</string>
			</array>
			<key>release_date</key>
			<date>2025-12-10T15:09:14Z</date>
			<key>title</key>
			<string>Ode to Zorhan Mamdani</string>
			<key>song_list</key>
			<array>
				<dict>
					<key>artist</key>
					<string>Allison Allain</string>
					<key>genres</key>
					<array>
						<string>Inspirational</string>
					</array>
					<key>song_image_url</key>
					<string>https://suno.com/song/9b18e9d8-bca4-4d43-8383-7719d672eff3?sh=x31Xwyv3IvdT18hS</string>
					<key>title</key>
					<string>Zorhan Mamdani</string>
					<key>url</key>
					<string>ZorhanMamdani</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>album_art_url</key>
			<string>https://f4.bcbits.com/img/a3969546907_10.jpg</string>
			<key>artist</key>
			<string>Choke the Word</string>
			<key>genres</key>
			<array>
				<string>Math Rock</string>
				<string>Goth Rock</string>
			</array>
			<key>release_date</key>
			<date>2011-03-25T15:09:14Z</date>
			<key>title</key>
			<string>Enjoy the Parade</string>
			<key>song_list</key>
			<array>
				<dict>
					<key>artist</key>
					<string>Choke the Word</string>
					<key>genres</key>
					<array>
						<string>Math Rock</string>
						<string>Goth Rock</string>
					</array>
					<key>song_image_url</key>
					<string>https://f4.bcbits.com/img/a3969546907_10.jpg</string>
					<key>title</key>
					<string>CCS</string>
					<key>url</key>
					<string>CCSRemix</string>
				</dict>
				<dict>
					<key>artist</key>
					<string>Choke the Word</string>
					<key>genres</key>
					<array>
						<string>Math Rock</string>
						<string>Goth Rock</string>
					</array>
					<key>song_image_url</key>
					<string>https://f4.bcbits.com/img/a3969546907_10.jpg</string>
					<key>title</key>
					<string>Cerrado Remix</string>
					<key>url</key>
					<string>CerradoRemix</string>
				</dict>
				<dict>
					<key>artist</key>
					<string>Choke the Word</string>
					<key>genres</key>
					<array>
						<string>Math Rock</string>
						<string>Goth Rock</string>
					</array>
					<key>song_image_url</key>
					<string>https://f4.bcbits.com/img/a3969546907_10.jpg</string>
					<key>title</key>
					<string>Gilgamesh Remix</string>
					<key>url</key>
					<string>GilgameshRemix</string>
				</dict>
				<dict>
					<key>artist</key>
					<string>Choke the Word</string>
					<key>genres</key>
					<array>
						<string>Math Rock</string>
						<string>Goth Rock</string>
					</array>
					<key>song_image_url</key>
					<string>https://f4.bcbits.com/img/a3969546907_10.jpg</string>
					<key>title</key>
					<string>Secretion Remix</string>
					<key>url</key>
					<string>SecretionRemix</string>
				</dict>
				<dict>
					<key>artist</key>
					<string>Choke the Word</string>
					<key>genres</key>
					<array>
						<string>Math Rock</string>
						<string>Goth Rock</string>
					</array>
					<key>song_image_url</key>
					<string>https://f4.bcbits.com/img/a3969546907_10.jpg</string>
					<key>title</key>
					<string>Narcissus Remix</string>
					<key>url</key>
					<string>NarcissusRemix</string>
				</dict>
				<dict>
					<key>artist</key>
					<string>Choke the Word</string>
					<key>genres</key>
					<array>
						<string>Math Rock</string>
						<string>Goth Rock</string>
					</array>
					<key>song_image_url</key>
					<string>https://f4.bcbits.com/img/a3969546907_10.jpg</string>
					<key>title</key>
					<string>Control Remix</string>
					<key>url</key>
					<string>ControlRemix</string>
				</dict>
				<dict>
					<key>artist</key>
					<string>Choke the Word</string>
					<key>genres</key>
					<array>
						<string>Math Rock</string>
						<string>Goth Rock</string>
					</array>
					<key>song_image_url</key>
					<string>https://f4.bcbits.com/img/a3969546907_10.jpg</string>
					<key>title</key>
					<string>In June Remix</string>
					<key>url</key>
					<string>InJuneRemix</string>
				</dict>
				<dict>
					<key>artist</key>
					<string>Choke the Word</string>
					<key>genres</key>
					<array>
						<string>Math Rock</string>
						<string>Goth Rock</string>
					</array>
					<key>song_image_url</key>
					<string>https://f4.bcbits.com/img/a3969546907_10.jpg</string>
					<key>title</key>
					<string>Sod Remix</string>
					<key>url</key>
					<string>SodRemix</string>
				</dict>
				<dict>
					<key>artist</key>
					<string>Choke the Word</string>
					<key>genres</key>
					<array>
						<string>Math Rock</string>
						<string>Goth Rock</string>
					</array>
					<key>song_image_url</key>
					<string>https://f4.bcbits.com/img/a3969546907_10.jpg</string>
					<key>title</key>
					<string>Mariana Remix</string>
					<key>url</key>
					<string>MarianaRemix</string>
				</dict>
				<dict>
					<key>artist</key>
					<string>Choke the Word</string>
					<key>genres</key>
					<array>
						<string>Math Rock</string>
						<string>Goth Rock</string>
					</array>
					<key>song_image_url</key>
					<string>https://f4.bcbits.com/img/a3969546907_10.jpg</string>
					<key>title</key>
					<string>Horsemen Remix</string>
					<key>url</key>
					<string>HorsemenRemix</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
